.App {
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/915/132/original/minimalist-style-hand-painted-liquid-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.layout_app {
  display: flex;
}
