.username-profile-image {
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.username-profile-image img{
    overflow: hidden;
    width:100%;
    height: 100%;
    border-radius: 60px;
    margin-top:30px;
}
