.username-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  color: white;
}
.username-profile-image {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px black solid;
}
.username-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
