.cards-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding:  50px;
  box-sizing: border-box;
}
.cards-container img {
  width: 100%;
  height: 110%;
  border-radius: 40px;
}
.card {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  /* padding: 0 20px 0 20px; */
}
.card_title p {
  text-shadow: 0 0 10px black;
  display: flex;
  padding: auto;
  box-sizing: border-box;
  top: 40%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 5;
  line-height: 110%;
  font-weight: 500;
  text-align: center;
  color: #fff;

  font-size: 1.5rem;
}
#bgvid {
  width: 400px;
  height: 100px;
}
