.search {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315);
  top: 0;
  left: 0;
  /* right: 20%; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  /* max-width: 400px; */
  /* margin: 0 auto; */
  z-index: 20;
}
.search .ModalSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  height: 40%;
}
.search div input[type="text"] {
  width: 100%;
  padding: 15px 20px;
  background-color: #100e0e;
  border: 1px solid transparent;
  border-radius: 100px;
  /* color: #fff; */
  outline: none;
  color: #ccc;
  box-shadow: 0 0 15px -2px white;
  transition: all 0.3s;
}
.search div input[type="text"]:focus {
  border: 1px solid #fff;
}
.search .ModalSearchBtn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search .ModalSearchBtn button {
  padding: 15px;
  border-radius: 100px;
  border: 1px solid #f5ff78;
  cursor: pointer;
  background: #f5ff78;
  color: #100e0e;
  width: 30%;
  height: 100%;
  box-shadow: 0 0 15px -2px black;
  transition: all 0.3s;
}
.search .ModalSearchBtn button:hover {
  border: 1px solid #100e0e;
  background: #100e0e;
  color: white;
   box-shadow: 0 0 15px -2px white;
}
