.SideBarRight {
  box-shadow: 0 1px 10px -3px #54595e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  min-height: 10vh;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px 0;
}
.SideBarRight hr {
  width: 70%;
  border-color: rgba(105, 105, 105, 0.082);
  margin: 0 auto;
}
.PublicationsInput {
  width: 90%;
  height: 50px;
  padding: 20px;
  border: none;
  background: #312a2a27;
  border-radius: 100px;
  color: #fff;
  line-height: 1.15;
  outline: none;
  font-weight: bold;
  transition: all 0.5s;
}
.PublicationsInput:focus::placeholder {
  color: rgb(187, 187, 187);
}
.PublicationsInput:focus {
  background: #312a2aa2;
  box-shadow: inset 0 0 10px -5px rgb(0, 0, 0);
}
#showAdSearchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.adSearchSecondLayer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}
