.layout_app_profile {
  display: flex;
  flex-direction: row;
}
.profile-container {
  background-image: url("https://wallpapers.com/images/hd/bumpy-black-stone-wall-desktop-skqayl7uknzul226.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
