.post {
  /* border: 1px solid black; */
  max-width: 100%;
  margin: 10px;
  color: black;
  box-shadow: 0 1px 10px -4px #54595e;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  /* background: url(https://freepngimg.com/download/icon/seo/442-announcement.png)
    center/cover no-repeat; */
}
.post_user_details {
  display: flex;
  width: 100%;
  align-items: center;
}
.post_content_details {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 200px;
  position: relative;
}
.post_content_details::before {
  content: "";
  background-image: url("https://freepngimg.com/download/icon/seo/442-announcement.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.post_user_details h5,
.post_content_details p {
  padding: 0;
  margin: 0;
}
.post_content_details p {
  font-size: 13px;
  color: #a4a7a9;
  word-break: break-all;
}

.user_image {
  object-fit: cover;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background-color: orangered;
  border-radius: 6px;
  margin-right: 10px;
}
.user_image img {
  width: 45px;
  height: 45px;
}
.user_name {
  margin: 0;
  padding: 10px 0;
}
.user_name h4 {
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.user_name span {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.startingDate {
  position: absolute;
  top: 5%;
  right: 2%;
}
.availablePlaces {
  position: absolute;
  top: 37%;
  right: 2%;
}
.Price {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-weight: bold;
}
.post_content_details span {
  padding: 10px;
  margin: 5px 0;
  background-color: #a4a7a93a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.svgicones {
  border: 3px solid black;
}
.btn-iconsPost {
  border-radius: 39px;
  border: unset;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.336);
  filter: drop-shadow(0 0 12px #0da100);
  cursor: auto;
  width: 35px;
  height: 35px;
  margin: 0 2px;
}
.toggleBtn {
  color: #0da100;
  border: 1px #0da100 solid;
}
.PostConfigBtns {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ApplyBtn {
  background-color: black;
  color: white;
  cursor: pointer;
  height: 45px;
  width: 70px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 20px -5px gray;
}
.ApplyBtn:hover {
  background-color: #f5ff78;
  color: black;
}
.DeleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1%;
}
