.crt_wrapper {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(16, minmax(0px, 1fr));
  column-gap: var(--grid-gap);
  padding: 70px;
}
.crt_lefet {
  grid-column: 1/9;
}
.card_one_lefet {
  background: black;
  color: white;
  translate: none;
  rotate: none;
  scale: none;
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
  transform: translate(0px, 0px);
}
.card_content {
  position: relative;
  padding: 50px 40px;
  z-index: 5;
}
.card_title {
  font-size: 2.2rem;
}
.card-svg {
  width: 100%;
  margin-bottom: -10px;
}
.card-two-lefet {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
}
.card-two-lefet .card_content {
  background: #96f8b4;
  color: #100e0e;
  position: relative;
  padding: 50px 40px;
  z-index: 5;
}
.card-two-lefet .card_content .card_title {
  font-size: 2.2rem;
}
.card-three-lefet {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
}
.card-three-lefet .card_content {
  background: #fff;
  color: #100e0e;
  position: relative;
  padding: 50px 40px;
  z-index: 5;
}
.card-three-lefet .card_content .card_title {
  font-size: 2.2rem;
}
.card-four-lefet {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  background: #100e0e;
  color: #fff;
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
}
.crt_right {
  grid-column: 9/-1;
}
.card_one_right {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
  transform: translateY(50px);
}
.card_one_right .card_content {
  background: #9a82f5;
  color: #100e0e;
  position: relative;
  padding: 50px 40px;
  z-index: 5;
}
.card_one_right .card_content .card_title {
  font-size: 2.2rem;
}
.card_two_right {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
  transform: translateY(50px);
  padding-top: 290px;
}
.card_two_right .card_content {
  background: #f5ff78;
  color: #100e0e;
  position: relative;
  padding: 50px 40px;
  z-index: 5;
  margin:0 20px ;
  margin-bottom: -30px;
  padding: 30px 20px;
  border-radius: 15px;
}

.card_two_right .card_content .card_bg {
  position: absolute; 
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.card_three_right {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  position: relative;
  border-radius: 15px;
  margin-bottom: 17px;
  overflow: hidden;
  transform: translateY(50px);
}
.card_three_right .card_content {
  background: #f5ff78;
  color: #100e0e;
}
