.publication_container {
  min-height: 100vh;
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-02/1676566983_catherineasquithgallery-com-p-krasivii-zeleno-belii-fon-206.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.layout_app {
  min-height: 100%;
}
.rightBox,
.leftBox,
.middelBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  padding: 20px 0;
  position: relative;
}
