.publication_container {
  min-height: 100vh;
  /* background-image: url("https://ceramamarket.com/upload/products/import/N/NAVARA05981.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}
.layout_app {
  min-height: 100%;
}
.rightBox,
.leftBox,
.middelBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  padding: 20px 0;
  position: relative;
}
