.FullSizePictureWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  z-index: 10;
}
.FullSizePicture {
  min-height: fit-content;
  max-height: 80vh;
  box-shadow: 0 0 20px black;
}
.FullSizePicture img {
  max-height: 80vh;
}
